<img src="@imgUrl" alt="NasaAPOD" />
<p></p>
<p>Copyright: @copyright</p>

@code{
   [Parameter]
   public string imgUrl{get;set;} 
   [Parameter]
   public string hdUrl{get;set;} 
   [Parameter]
   public string copyright{get;set;} 
}