@using FirstApp.Models;
@page "/nasa-apod" 
@using FirstApp.Clients;
@inject NasaClient NasaClient;

<pagetitle>
    Nasa Apod
</pagetitle>

<h3>This is a list of my to do items.</h3>

<p>@nasaResponse</p>

<!-- <input placeholder = "Add Task" @bind = "newTodo"/> <bind method to variable newTodo-->
<!-- <button @onclick="Add">Add</button> -->

@code {

    private NasaResponse? nasaResponse = null;
    protected override async Task OnInitializedAsync(){
        nasaResponse = await NasaClient.GetNasa();
    }

}
