@page "/todo" 

<pagetitle>
    My to do list    
</pagetitle>

<h3>To do</h3>
<p>This is a list of my to do items.</p>

<ul>
    @foreach (var todo in todoList){
        <li>@todo.Item</li>
    }
</ul>

<input placeholder = "Add Task" @bind = "newTodo"/><!--bind placeholder to variable newTodo-->
<button @onclick="Add">Add</button>

@code {
    private List<TodoItem> todoList = new();
        private string? newTodo;
        private void Add(){
            if(!string.IsNullOrWhiteSpace(newTodo)){
                todoList.Add(new TodoItem {Item = newTodo});
                newTodo = string.Empty;
            }
        }
}
